-------bell------
CHROMEDRIVER=C:/Users/Bell/Downloads/chromedriver_win32/chromedriver.exe

NEGATIVE_SENTIMENT_WORDS=C:\Users\Bell\intern\pythongetpostshopee\word\negative-sentiment-words.txt
POSITIVE_SENTIMENT_WORDS=C:\Users\Bell\intern\pythongetpostshopee\word\positive-sentiment-words.txt
SWEAR_WORDS=C:\Users\Bell\intern\pythongetpostshopee\word\swear-words.txt
FOOD_WORDS=C:\Users\Bell\intern\pythongetpostshopee\word\food-words.txt
HEALTH_WORDS=C:\Users\Bell\intern\pythongetpostshopee\word\health-words.txt
SPA_WORDS=C:\Users\Bell\intern\pythongetpostshopee\word\spa-words.txt
TRAVEL_WORDS=C:\Users\Bell\intern\pythongetpostshopee\word\travel-words.txt
BEAUTY_WORDS=C:\Users\Bell\intern\pythongetpostshopee\word\beauty-words.txt

FILE=C:\Users\Bell\intern\pythongetpostshopee\csv\myfile.csv
THAIBIO_FILE=C:\Users\Bell\intern\pythongetpostshopee\csv\thaibio-search.csv
SCIENCE_DIRECT=C:\Users\Bell\intern\pythongetpostshopee\csv\science-direct
THAIJO_FILE=C:\Users\Bell\intern\pythongetpostshopee\csv\thaijo-search.csv

LOG_FILE=C:\Users\Bell\intern\pythongetpostshopee\log\app.log

INPUT_FILE_TXT=
INPUT_FILE_CSV=

-----kane-------
CHROMEDRIVER=/Users/mcmxcix/chromedriver
NEGATIVE_SENTIMENT_WORDS=/Users/mcmxcix/pythongetpostshopee/word/negative-sentiment-words.txt
POSITIVE_SENTIMENT_WORDS=/Users/mcmxcix/pythongetpostshopee/word/positive-sentiment-words.txt
SWEAR_WORDS=/Users/mcmxcix/pythongetpostshopee/word/swear-words.txt
FILE=/Users/mcmxcix/pythongetpostshopee/csv/myfile.csv
INPUT_FILE_TXT=/Users/mcmxcix/nodeJSDB/sqlapp/input_file/input_file.txt
INPUT_FILE_CSV=/Users/mcmxcix/nodeJSDB/sqlapp/input_file/input_file.txt
LOG_FILE=/Users/mcmxcix/pythongetpostshopee/log/app.log

FOOD_WORDS=/Users/mcmxcix/pythongetpostshopee/word/food-words.txt
HEALTH_WORDS=/Users/mcmxcix/pythongetpostshopee/word/health-words.txt
SPA_WORDS=/Users/mcmxcix/pythongetpostshopee/word/spa-words.txt
TRAVEL_WORDS=/Users/mcmxcix/pythongetpostshopee/word/travel-words.txt
BEAUTY_WORDS=/Users/mcmxcix/pythongetpostshopee/word/beauty-words.txt


------window-server------
CHROMEDRIVER=C:\chromedriver\chromedriver
NEGATIVE_SENTIMENT_WORDS=C:\Users\Administrator\Desktop\pythongetpostshopee\word\negative-sentiment-words.txt
POSITIVE_SENTIMENT_WORDS=C:\Users\Administrator\Desktop\pythongetpostshopee\word\positive-sentiment-words.txt
SWEAR_WORDS=C:\Users\Administrator\Desktop\pythongetpostshopee\word\swear-words.txt
FILE=C:\Users\Administrator\Desktop\pythongetpostshopee\csv\myfile.csv
INPUT_FILE=C:\\Users\\Administrator\\Desktop\\nodeJSDB\\sqlapp\\input_file\\input_file.txt

THAIBIO_FILE=C:\Users\Administrator\Desktop\pythongetpostshopee\csv\thaibio-search.csv
FOOD_WORDS=C:\Users\Administrator\Desktop\pythongetpostshopee\word\food-words.txt
SPA_WORDS=C:\Users\Administrator\Desktop\pythongetpostshopee\word\spa-words.txt
HEALTH_WORDS=C:\Users\Administrator\Desktop\pythongetpostshopee\word\health-words.txt
BEAUTY_WORDS=C:\Users\Administrator\Desktop\pythongetpostshopee\word\beauty-words.txt
TRAVEL_WORDS=C:\Users\Administrator\Desktop\pythongetpostshopee\word\travel-words.txt
